<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="H.HtmlEditor.Common.SharedResources" version="5.1.0.32" targetFramework="net472" />
  <package id="H.HtmlEditor.WinForms.Algorithms" version="5.1.0.32" targetFramework="net472" />
  <package id="H.HtmlEditor.WinForms.Domain" version="5.1.0.32" targetFramework="net472" />
  <package id="H.HtmlEditor.WinForms.DomainServices" version="5.1.0.32" targetFramework="net472" />
  <package id="H.HtmlEditor.WinForms.FrameworkExtensions" version="5.1.0.32" targetFramework="net472" />
  <package id="Hunspell.Native" version="1.2.5359.26128" targetFramework="net472" />
  <package id="jQuery" version="3.5.1" targetFramework="net472" />
  <package id="Unofficial.Microsoft.mshtml.NetStandard" version="7.0.3300" targetFramework="net472" />
</packages>